{% extends 'front.html.twig' %}
{% block title %} Mes listes des evenements {% endblock %}
{% block body %}
<nav class="navbar navbar-light navbar-expand fixed-top" style="background-color: #eeeeee;">
    <div class="container-fluid"><img src="{{ asset('assets/img/LOGO.png') }}" style="height: 91px;width: 82px;"><a
                href="#" style="color: rgb(230,160,79);font-size: 31px;font-family: 'Alfa Slab One', cursive;">E-MPLOYINI</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/Events" style="color: #bb620f;font-weight: bold;">Evenements</a></li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#" style="color: #bb620f;font-weight: bold;">Participer</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#"
                                                            style="color: #bb620f;font-weight: bold;">Contacter Nous</a></li>
            </ul>
        </div>
    </div>
</nav>
{% for event in events %}
    <div >
        <figure class="snip1253" style="margin-right: 5px">
            <div class="image">
                <img src="https://timviec365.com/pictures/images/event-executive-1.jpg" alt="sample59" />
            </div>
            <figcaption>
                <div class="date" style="background-color: #eea236">
                    <span class="day">{{event.datedebut|date('d')}}</span>
                    <span class="month">{{event.datedebut|date('F')}}</span>
                </div>
                <h3 >{{event.nom}}</h3>
                <p>
                    {{ event.plan |raw}}
                </p>
            </figcaption>
            <footer style="background-color: #eea236">
                <div class="views"><i class="ion-eye"></i>Participer</div>
            </footer>
        </figure>
    </div>
{% endfor %}
{% endblock %}