{% extends 'base.html.twig' %}
   {% block form %}
{% block title %}Formations{% endblock %}
{% block body %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<h1>Ajouter une formation</h1>
{{ form_label(form.Titre,"Titre") }}
 {{ form_widget(form.Titre) }}
{{ form_errors(form.Titre) }}
{{ form_label(form.Date,"Date") }}
 {{ form_widget(form.Date) }}
{{ form_errors(form.Date) }}
{{ form_label(form.Lieu,"Lieu") }}
 {{ form_widget(form.Lieu) }}
{{ form_errors(form.Lieu) }}
{{ form_label(form.Description,"Description") }}
 {{ form_widget(form.Description) }}
 {{ form_label(form.Prix,"Prix") }}
 {{ form_widget(form.Prix) }}
 {{ form_errors(form.Prix) }}
 {{ form_end(form) }}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}

{% endblock %}
