{% extends 'front.html.twig' %}
{% block href %}href="inscription"{% endblock %}
{% block body %}

    <br>
    <table>

        {{ form_start(form,{attr : {'novalidate' : 'novalidate'}}) }}
        <tr>


        <td>{{ form_label(form.Nom,"Nom") }}</td>
            <td> {{ form_widget(form.Nom) }}</td>
        <tr><td> {{ form_errors(form.Nom) }}</td></tr>
        </tr>
        <tr>
            <td> {{ form_label(form.Prenom,"Prenom") }}</td>
            <td>{{ form_widget(form.Prenom) }}</td>
        <tr><td> {{ form_errors(form.Prenom) }}</td></tr>
        </tr>
        <tr>
            <td>{{ form_label(form.Email,"Email") }}</td>
            <td>{{ form_widget(form.Email) }}</td>
        <tr><td> {{ form_errors(form.Email) }}</td></tr>
        </tr>
        <tr>
            <td>{{ form_label(form.Age,"Age") }}</td>
            <td> {{ form_widget(form.Age) }}</td>
        <tr><td> {{ form_errors(form.Age) }}</td></tr>
        </tr>
        <tr>
            <td>{{ form_label(form.Age,"Commentaire") }}</td>
            <td> {{ form_widget(form.Commentaire) }}</td>
        <tr><td> {{ form_errors(form.Commentaire) }}</td></tr>
        </tr>
        <tr>
            <td>{{ form_label(form.id_stage,"Stage") }}</td>
            <td> {{ form_widget(form.id_stage) }}</td>


        </tr>

    </table>

    {{ form_end(form)}}


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}