{% extends 'front.html.twig' %}
{% block href %}href="inscription"{% endblock %}
{% block body %}
    <br>
    <body>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nom Entreprise</th>
            <th>Description</th>
            <th>Stage</th>
            <th>Postuler</th>

        </tr>
        {% for c in OffreStage %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.NomEntreprise }}</td>
                <td>{{ c.Description }}</td>
                <td>{{ c.StageId }}</td>
                <td><a href="{{ path('add',{'id':c.id})}}">Postuler</a></td>




            </tr>
        {% endfor %}
    </table>
    </body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}