{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table border="1" class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ quiz.Titre }}</td>
            </tr>
            <tr>
                <th>Q1</th>
                <td>{{ quiz.q1 }}</td>
            </tr>
            <tr>
                <th>R1</th>
                <td>{{ quiz.r1 }}</td>
            </tr>
            <tr>
                <th>C1</th>
                <td>{{ quiz.c1 }}</td>
            </tr>
            <tr>
                <th>Q2</th>
                <td>{{ quiz.q2 }}</td>
            </tr>
            <tr>
                <th>R2</th>
                <td>{{ quiz.r2 }}</td>
            </tr>
            <tr>
                <th>C2</th>
                <td>{{ quiz.c2 }}</td>
            </tr>
            <tr>
                <th>Q3</th>
                <td>{{ quiz.q3 }}</td>
            </tr>
            <tr>
                <th>R3</th>
                <td>{{ quiz.r3 }}</td>
            </tr>
            <tr>
                <th>C3</th>
                <td>{{ quiz.c3 }}</td>
            </tr>
            <tr>
                <th>Q4</th>
                <td>{{ quiz.q4 }}</td>
            </tr>
            <tr>
                <th>R4</th>
                <td>{{ quiz.r4 }}</td>
            </tr>
            <tr>
                <th>C4</th>
                <td>{{ quiz.c4 }}</td>
            </tr>
            <tr>
                <th>Q5</th>
                <td>{{ quiz.q5 }}</td>
            </tr>
            <tr>
                <th>R5</th>
                <td>{{ quiz.r5 }}</td>
            </tr>
            <tr>
                <th>C5</th>
                <td>{{ quiz.c5 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_index') }}">back to list</a>

    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>

    {{ include('quiz2/_delete_form.html.twig') }}
{% endblock %}
