{% extends 'front.html.twig' %}
{% block body %}
<body>
  
  <main class="page lanidng-pag" >
     <section class="portfolio-block photography" >
      <header class="overlay" style="background-image: url('https://cdn.seeklearning.com.au/media/images/career-guide/article/career-advice/web_images/blogs/214/2416/3_common_career_progression_questions_940x485.jpg');text-align: center;width: 100%;height: 300px;background-size: cover;background-attachment: fixed;position: relative;overflow: hidden;border-radius: 0 0 85% 82% / 38%;">
           <div class="overlay" style="text-shadow: 1px 1px 1px #333; width: 100%; height: 100%; background-color: rgba(171,89,29,0.27);padding: 50px">
                <h1 style="color: rgb(255,255,255);">Conseil Crrière</h1>
                <h3 style="color: rgb(255,255,255);">Bienvenue</h3>
                <p style="color: rgb(255,255,255);">Vous trouverez ici tous les guides qui vous intéressent</p>
                <a class="btn btn-light borderendondeado" type="button" href="{{ asset('/Articles') }}">Articles</a>
                <a class="btn btn-light borderendondeado" type="button" href="{{ asset('/LettreM') }}">Lettres Motivation</a>
                <a class="btn btn-light borderendondeado" type="button" href="{{ asset('/CV') }}">CV</a>

              </div>
          </header>
         <form class="search-form">
             <div class="input-group">
                 <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                 <input type="text" id="search" class="form-control" placeholder="Search by interests..">
             </div>
         </form>


        <div id="all" class="card-group col-md-6" style="margin-left: 343px" >
              {% for articl in articles %}
                <div  style="margin-right: 5px">
                  <figure class="snip1253">
                    <div class="image">
                        {% if articl.image %}
                            <img src="{{ vich_uploader_asset(articl,'imageFile') }}"/>
                        {% endif %}
                    </div>
                   <figcaption>
                     <h2>{{ articl.Titre }}</h2>
                       <small>{{ articl.publiele |ago}}</small>
                      <p>
                       {{ articl.Resume | raw }}
                      </p>
                   </figcaption>
                  <div class="footer footer-link" style="background-color:#eea236;  padding:15px; text-align: right">
                                        <a style="color: #FFFFFF; margin-right: 20px;" class="ion-eye"
                                           href="{{ path('AfficheUnArticleClient',{'id':articl.id}) }}">see more</a>
                                        <a href="{{ path('article_like',{'id':articl.id}) }}" style="color: #FFFFFF; margin-right:120px;" class="btn btn-link js-like">
                                           {% if app.user and articl.isLikedByUser(app.user) %}
                                                <i class="fas fa-thumbs-up"></i>
                                             {% else %}
                                                <i class="far fa-thumbs-up"></i>
                                           {% endif %}
                                            <span class="js-likes">{{ articl.likes | length }}</span>
                                            <span class="js_label">{% if app.user and articl.isLikedByUser(app.user) %}
                                                je n'aime plus
                                                {% else %} j'aime
                                                {% endif %}
                                            </span>
                                        </a>
                  </div>
                  </figure>
                </div>
              {% endfor %}
        </div>
         <div id="search" > </div>
        <div id="pg" class="pagination justify-content-center ">
          {{ knp_pagination_render(articles) }}
        </div>
         {% block javascripts %}
             <script src="{{ asset('https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js') }}"></script>
             <script src="{{ asset('https://unpkg.com/axios/dist/axios.min.js') }}"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
             <script>
                 function onClickBtnLike(event){
                     event.preventDefault();
                     const url = this.href;
                     const spanCount = this.querySelector('span.js-likes');
                     const spanText = this.querySelector('span.js_label');
                     const icone = this.querySelector('i');
                     axios.get(url).then(function (response){
                         spanCount.textContent = response.data.likes;
                         if(icone.classList.contains('fas')) {
                             spanText.textContent = 'j\'aime ' ;
                             icone.classList.replace('fas', 'far');
                         }
                         else {
                             icone.classList.replace('far', 'fas');
                             spanText.textContent = 'je n\'aime plus';
                         }
                       })
                     .catch(function (error){
                         if(error.response === 403){
                             window.alert("vous n etes pas connecté");
                         }
                         else{
                             window.alert("une erreur s est produite");
                             console.log('Error', error.message);
                         }
                     });
                 }
                 document.querySelectorAll('a.js-like').forEach(function (link){
                     link.addEventListener('click',onClickBtnLike);
                 });
             </script>
             <script>
                 $(document ).ready(function() {
                     $("#search").keyup(function(e){
                         /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                         var value = $(this).val();
                         /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                         $.ajax({
                             /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                             url : "{{ path('searchArticle') }}",
                             /* La méthode utilisée pour transférer les données est GET */
                             type : 'GET',
                             /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                             data: {
                                 'searchValue' : value
                             },
                             /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                             success : function(retour){
                                 if(retour && value!="" && value!=' ') {
                                         $('div#search').empty();
                                         $.each(JSON.parse(retour), function (i, obj) {
                                             $('div#all').hide();
                                             $('div#pg').hide();
                                             $('div#search').append('<div class="card-group col-md-6" style="margin-left: 343px"><div style="margin-right: 5px">' +
                                                 '<figure class="snip1253">' +
                                                 '<div class="image">' +
                                                 '<img src="uploads/images/featured/' + obj.image + '" /> ' +
                                                 '</div>' +
                                                 '<figcaption>' +
                                                 '<h2>' + obj.titre + '</h2>' +
                                                 '<p>' + obj.resume + '</p>' +
                                                 '</figcaption>' +
                                                 '</figure>' +
                                                 '</div>' +
                                                 '<div class="footer footer-link" style="background-color:#eea236;   text-align: right">' +
                                                 '<a style="color: #FFFFFF; " class="ion-eye" href="/ArticleN/' + obj.id + '">see more</a>' +
                                                 '</div></div>');
                                         });
                                     } else {
                                         $('div#all').show();
                                         $('div#pg').show();
                                         $('div#search').empty();
                                         $('div#search').fadeIn('fast');
                                     }
                                 },
                         });
                         return false;
                     });
                 });

             </script>
         {% endblock %}
     </section>
     <section class="portfolio-block skills">
       <div class="container">
              <div class="heading">
               <h2>CITATION DU JOUR</h2>
              </div>
               <div class="row">
                 <div class="col-md-4">
                 <div class="card special-skill-item border-0">
                         <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"
                                                                                style="background-color: rgb(237,128,27);"></i>
                       </div>
                         <div class="card-body">
                                <h3 class="card-title">Soft Skills</h3>
                                <p class="card-text" style="font-weight: bold;">A l’inverse des compétences techniques,
                                    il n’est pas possible de déléguer aux robots les compétences
                                    comportementales.<br><br>Jérôme Hoarau<br></p>
                            </div>
                   </div> </div>
                  <div class="col-md-4">
                      <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline" style="background-color: rgb(237,128,27);"></i></div>
                        <div class="card-body">
                                <h3 class="card-title">Innovation</h3>
                                <p class="card-text" style="font-style: normal;font-weight: bold;">Encouragez
                                    l’innovation. Le changement est notre force vitale, la stagnation notre
                                    glas.<br><br>David M. OgilvyDe David M. Ogilvy<br></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"
                                                                                style="background-color: rgb(237,128,27);"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Intérêts&nbsp;</h3>
                                <p class="card-text" style="font-weight: bold;"><br>Chacun préfère son&nbsp;<strong>intérêt</strong>&nbsp;à
                                    celui du prochain.<br><br>Proverbe latin.</p>
                            </div>
                        </div>
                    </div></div>
        </div>
     </section>
  </main>
  
</body>
{% endblock %}
