{% extends 'base.html.twig' %}
{% block title %} Afficher un Article Admin {% endblock %}
{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <section class="article">
        <h2> {{ doc.nom }}</h2>
        <article>
         <img src="{{ vich_uploader_asset(doc,'apercuFile') }}" >
         <p> {{ doc.description |raw }}</p>
        </article>
        <a class="btn btn-sm btn-default fa fa-edit" href="{{ path('ModifierDocument', {id: doc.id}) }}">Modifier</a>
        <a class="btn btn-sm btn-default fa fa-arrow-circle-o-left" href="{{ path('gestionCarriereAdmin') }}">Retour à l'inventaire</a>
    </section>
{% endblock %}